@keyframes link
  from
    left 100%
  to
    left 50%

@keyframes headernav
  from
    -webkit-transform scale(0)
  to
    -webkit-transform scale(1)

@keyframes fadein
  0% {
    transform: scale(0);
    opacity: 0.0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }


@keyframes fadeout
  from
    opacity 1
  to
    opacity 0

@keyframes slidein
  from
    max-height 0
  to
    max-height 500px

