doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description", content="Use tLoc application to recognize your current location and places of interests to find nearby like dinner places, bars, car dealerships etc.")
    link(rel='stylesheet', href='css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='css/tloc.css')
    title tLoc - find places of interests nearby
  body.container-fluid

    .row
      .col-md-6
        .fb-like(data-share="true", data-width="450", data-show-faces="true")
      .col-md-6.text-right
        #location
    .row
      .col-md-12
        fb:login-button(scope="publicprofile,email")
    .row
      .col-md-6.col-md-offset-3
        #weather

    #routing
    .row.panel-footer
      .col-md-12
        .fb-comments(data-href="http://semitaho.github.io/tloc/", data-width="100%", data-numposts="10")

    script(src="https://maps.googleapis.com/maps/api/js?signed_in=false&libraries=places,geometry&API_KEY=AIzaSyAXCoUJBbAzoHW_CgYd2HacWZ51icZdLeA")
    script(src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/markerwithlabel/src/markerwithlabel_packed.js")
    script(src="js/main.js")


