doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='css/tloc.css')
    title tloc
  body.container-fluid

    #location.text-center
    .row
        .col-md-12
          #mapsinterests


    script(src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&API_KEY=AIzaSyAXCoUJBbAzoHW_CgYd2HacWZ51icZdLeA")
    script(src="js/main.js")


